<div class="mt-5 p-3" id="terminal-container">

    <div id="terminal-content">
        <div id="terminal-title"></div>
        <div id="terminal-storyline"></div>
        <div id="terminal-output"></div>
    </div>

    <div id="active-line">
        <span>agent$terminal:</span>
        <input id="terminal-input" type="text" autofocus autocomplete="off" />
        
    </div>

</div>
<script src="/javascripts/command.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/state.js"></script>