<nav class="navbar fixed-top navbar-expand-lg header ">
    <div class="container-fluid shadow rounded">

        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="Logo" width="84" height="84" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="header-links">
                <li class="nav-item">
                    <a class="nav-link link-light nav-links-hover" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light nav-links-hover" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light nav-links-hover" href="mailto:{{email}}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light nav-links-hover" href="{{coffee}}" target="_blank">Buy
                        Me A Coffee</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="container">
    <div class="matrix-loader">
        <canvas id="matrix"></canvas>
    </div>
    <div id="overlay" class="fade-in">
        <h1 >[ITS NOT OVER]</h1>
        <hr>
        <h2>You live to fight another day.</h2>
        <p >Go train and try again.</p>
        <hr>
        <h3 >RESOURCES</h3>
        <a class="green-links" href="https://www.theodinproject.com/">The Odin Project</a>
        <a class="green-links" href="https://free-for.dev/#/">Free For Dev</a>
        <a class="green-links" href="https://freecodecamp.org/">freeCodeCamp</a>
        <a class="green-links" href="https://pll.harvard.edu/subject/computer-science">Harvard</a>
        <hr>
        <button id="btnStart"  class="btn btn-lg btnStyle" >Retry</button>
        <button  class="btn btn-lg btnStyle" onclick="homeLink()">Back</button>
    </div>
</div>
<footer class="footer mt-4 py-3 fixed-footer">
  <div class="container">
    <p>
        <span class="text-light">[</span>2025 &copy; DEVELOPED BY <a class="green-links" href="{{github}}" target="_blank">CODENAMESOLE3NYA</a><span class="text-light">]</span>
    </p>
    
  </div>
</footer>
<script src="/javascripts/matrix.js"></script>
<script src="/javascripts/main.js"></script>
