@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-padding-top: 100px;
  
}

body {
  background: black;
  font-family: 'VT323', monospace;
  font-size: large;
  
}
.header{
  background-color: #000;
  border-bottom: solid 4px #0dff0d;
  /*flex-shrink: 0;*/ 
   
}
.fixed-footer{
  background-color: #000;
  border-top: solid 4px #0dff0d;
  color:#0dff0d;
  text-align: center;
  /*flex-shrink: 0;*/
}

#header-container {
  position: relative;
}
#container{
  
  position: relative; 
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  border-bottom: solid 4px #0dff0d;
}


#matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

#matrix-loader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#overlay {
  position: static;
  z-index: 1;
  color: #0dff0d;
  font-family: 'VT323', monospace;
  text-align: center;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #0dff0d;
  border-radius: 12px;
}

.fade-in {
  animation: text-fade 4s ease-in-out alternate;
}

.green-links{
  text-decoration: none;
  font-size:larger;
  font-family: 'VT323', monospace;
  color:#0dff0d;
  padding:4px;
  margin:4px;
}
.green-links:hover{
  text-decoration: none;
  font-size:larger;
  font-family: 'VT323', monospace;
  color:#0acc0a;
  padding:4px;
  margin:4px;
  border-bottom: solid 2px #0dff0d;
  border-top: solid 2px #0dff0d;
}
.nav-links-hover:hover{
  border-bottom:1px solid #0dff0d;
  color:#0dff0d;

}
.btnStyle {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 0, 0.25);
  border-radius: 12px;
  border:1px solid #FFF;
  z-index:2;
}
.btnStyle:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 12px;
  border:1px solid #0dff0d;

}

#terminal-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #000;
  color: #0dff0d; 
  font-family: 'VT323', monospace;
  font-size: 1.2rem; 
  text-shadow: 0 0 5px #0dff0d; 
  padding: 15px;
  box-sizing: border-box; 

}

#terminal-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    transparent 1px,
    transparent 3px
  );
  z-index: 1;
  pointer-events: none; 
}

#terminal-content {
  flex-grow: 1; 
  overflow-y: auto; 
}

#terminal-output pre, #terminal-storyline pre {
  margin: 0; 
  white-space: pre-wrap; 
  word-wrap: break-word;
}

#terminal-title pre {
    line-height: 0.8;
}

#active-line {
  flex-shrink: 0;
}


#active-line > span {
  white-space: nowrap;
  margin-right: 8px;
}

#terminal-input{

  background: transparent;
  border: none;
  outline: none;

  
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-shadow: inherit;

  
  width: 80%;
  padding: 0;
  margin: 0;
}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #0dff0d;
  }
}

#about{
  color:#0dff0d;
}

.box{
  color:#0dff0d;
  border: 1px solid #0acc0a;
  border-radius: 12px;

}

@keyframes text-fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}